body {
	color: white;
	background-color: black;
	border-width: 50px;
	border-color: white;
	text-align: left;
}

.container {
  width: 320px;
  padding: 10px;
  border: 5px solid blue;
  margin: 0;
}

.menu {
  width: 320px;
  padding: 10px;
  border: 5px solid green;
  margin: 0;
}

.controls {
	width: 320px;
	padding: 10px;
	border: 5px solid pink;
	margin: 0;
}
